<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card pic" style="width: 64.5rem;height:15rem;">
        <img class="card-img-top" [src]="imgUrl" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card g title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="card category" style="width: 12rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="">Cereals</a></li>
          <li class="list-group-item">Vegetables</li>
          <li class="list-group-item">Tubers</li>
          <li class="list-group-item">Livestock</li>
          <li class="list-group-item">Frozen Food</li>
          <li class="list-group-item">Processed Foods</li>
          <li class="list-group-item">Poultry</li>
          <li class="list-group-item">Others</li>

        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card pic" style="width: 17rem;">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card pic" style="width: 17rem;">
        <img class="card-img-top" src="assets/img/veg1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card pic" style="width: 17rem;">
        <img class="card-img-top" src="assets/img/veg1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>





  </div>





</div>
